:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;

    --primary-color: #04395E;
    --secondary-color: #FF1F66;
}

body {
    margin: 0;
    background-image: url('/poll_bg_big.png');
    background-size: cover;
    color: white;
    background-position: 0px -30px;
}