:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;

    --primary-color: #04395E;
}

body {
    margin: 0;
    background-image: url('/poll_bg_big.png');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}