.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    cursor: auto;
}

.modal-content {
    background-color: var(--primary-color);
    border-radius: 1em;
    padding: 1em;
    color: white;
    display: flex;
    flex-direction: column;
}


.modal-close {
    border: none;
    background-color: var(--primary-color);
    width: fit-content;
    align-self: end;
    cursor: pointer;
}

.modal-close>img {
    width: 20px;
}